header {
    display: flex;
    justify-content: space-between;
}

#main-game {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{
    background: #cdcdcd;
    border: 6px solid #2f215f;
}

#temp-score{
    color: yellow;
    margin: 12px;
}