header {
    text-align: center;
}

#main-game {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#canvas{
    width: 100%;
    background: #cdcdcd;
}