@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite
}

.lndgBtn {
  position: absolute;
  top: 0;
  bottom: -100px;
  right: 0;
  left: 0;
  height: 40px;
  width: 150px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden
  }
}

.home {
  position: absolute ;
  display: block;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 50%;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

.game {
  height: 38px;
  width: 100px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

img {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.title {
  font-family: 'Silkscreen', sans-serif;
  font-size: 100px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite
}

.login,
.signup {
  font-family: 'Silkscreen', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

.heading {
  font-size: 100px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite
}

.btnlgn,
.btnsgnp {
  top: 0;
  bottom: -100px;
  right: 0;
  left: 0;
  height: 40px;
  width: 150px;
  text-align: center;
  margin:auto;
  font-size: 12px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
}

input {
  font-family: 'Press Start 2P', sans-serif;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: auto;
}

ul {
  list-style: none;
  color: white;
  font-size: large;
}

.gmBtn {
  margin: 10px;
  height: 40px;
  width: 13%;
}

.lbBtn {
  margin: 10px;
}

.site-header {
  background-color: #5055CB;
}

#leaderboard {
  padding: 50px;
}

.ladder-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #5055CB;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #686EF9;
}

.ladder-title {
  flex: 2;
  text-align: center;
  font-size: 20px;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
}

.leaderboard-results {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.leaderboard-results thead th {
  padding: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.leaderboard-results tbody th {
  padding: 25px;
  color: rgb(230, 230, 230);
  font-size: 18px;
}